<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="apikey" value="rajPmdiyZFbdXBxBINeNd7u2KAbYnpCoQYdfjyTtNEe5fhnF4bcLN6vKPXT66RbI"/>
    <add key="apisecret" value="fo9ofAB2U5EDEufL9D9nreEipQPzsPuEIoM0iZKQavk1s63lXrYrDUAbZ0Md9214"/>
    <add key="telegramapi" value="437610433:AAETVigLbUZ3jQpryniwA3oIJyhNUSr0goI"/>
    <add key="telegramchatid" value="471741432"/>
  </appSettings>
</configuration>