<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="apikey" value="your binance api key"/>
    <add key="apisecret" value="your binance api secret"/>
  </appSettings>
</configuration>